# 原本的编译器过滤
*.o
*.out
*.exe
*.a
*.so

# 原本的 CMake 过滤
/build/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 原本的 IDE 过滤
/.idea/
/.vscode/
*.user
*.suo
*.clcpp

# 过滤 Visual Studio 临时缓存
.vs/
*.user
*.suo
*.db

# 过滤 CMake 编译输出文件夹（所有的 exe 和 pdb 都在这里面）
out/
build/
# 过滤任何层级下的 .vs 隐藏文件夹
**/.vs/
.vs/

# 过滤编译产生的数据库与临时布局文件
*.VC.db
*.slnx.sqlite
*DocumentLayout*.json
*VSWorkspaceState.json